.image-gallery {
  div.imageholder {
    display: inline-block;
    height: 80px;
    width: 80px;
    .video {
      img {
        position: absolute;
        height: 48px;
        width: 48px;
        margin-left: 16px;
        margin-top: 16px;
      }
    }
  }
}
