@import "_base";
$headerSize: 48px;
$sideHeaderSize: 64px;
$headerZindex: 100;
$barBackgroundColor: $colorSixGray;
$barColor: white;
$tabWidth: 300px;
$additionalTabWidth: 420px;
$dropdownWidth: 200px;
$buttonMargin: 8px;
