@import "_base";
#tab-view-render-mods {
  li {
    .entry {
      .imageholder {
        margin-left: 0;
      }
    }
  }
  .add-mods {
    color: $colorSixDarkGray;
    background-color: $colorSixLightGray;
    position: fixed;
    width: 420px;
    right: 364px;
    top: 48px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px;
  }
}
