@import "_base";
#my-games,
#my-home,
#my-library,
#my-library-show-home,
#user-profile .library {
  .virtual-row {
    height: 92px;
  }
  .virtual-container {
    max-height: calc(100vh - 416px); // TODO: The header might change because of no-ads..
  }
  .col1 {
    @include make-md-column(5);
  }
  .col2 {
    @include make-md-column(3.5);
  }
  .col3 {
    @include make-md-column(3.5);
  }
  filters {
    input {
      width: initial;
    }
  }
  button.row-header-button,
  command-button.row-header-button button,
  dropdown-menu.row-header-button button {
    font-size: 0.7em;
    text-decoration: inherit;
    height: 28px;
    position: relative;
    top: -3px;
    border: none;
    padding: 0 20px;
    //margin-top: 24px;
    &.c-blue {
      background-color: $colorSixBlue;
      color: white;
    }
    &.c-orange {
      background-color: $colorSixOrange;
      color: white;
    }
  }
  .game {
    .imageholder {
      height: 144px;
    }
    .logo {
      // .imageholder.image {
      //   margin-left: 50px;
      //   width: 256px;
      // }    }
    }
  }
  .row-header-button {
    &.c-blue {
      button {
        background-color: $colorSixBlue;
        color: white;
      }
    }
    &.c-orange {
      button {
        background-color: $colorSixOrange;
        color: white;
      }
    }
  }
  .your-games {
    .card-container {
      $width: 110px + 30px; // padding
      width: $width;
      .card {
        &:hover {
          .title a {
            color: $colorSixBlue;
          }
        }
        .img {
          position: relative;
          .imageholder {
            display: block;
            height: 156px;
          }
          background-color: white;
          background-size: contain;
        }
        .info {
          height: 4px;
          padding: 0;
          background: white;
          overflow: hidden;
        }
        .bottom-bar {
          action-bar {
            button,
            li,
            ul {
              width: 100%;
            }
            button {
              color: inherit;
              background-color: inherit;
              font-size: 0.7em;
              text-decoration: inherit;
            }
          }
        }
      }
    }
  }
}
#my-games {
  card-view {
    .card {
      margin-bottom: 16px;
      .bottom-bar {
        left: 30px;
        right: 30px;
      }
      dropdown-menu {
        .dropdown-toggle {
          z-index: 10;
        }
      }
    }
    .info {
      height: 64px;
    }
    span.bg-hover {
      background-size: cover;
      position: absolute;
      top: 0;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
      opacity: 0;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      background-position: center;
    }
    .basketable-dropdown {
      opacity: 0;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
    .logo {
      height: 141px;
      line-height: 141px;
      display: block;
      text-align: center;
      z-index: 4;
      position: relative;
    }
    .content-stateable:hover {
      .basketable-dropdown {
        opacity: 1;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }
    }
    .content-stateable:hover span.bg-hover {
      opacity: 1;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
  }
  select {
    border: 0;
  }
}
.stranger-danger {
  background-color: $colorSixBlue;
  color: white;
  padding: 10px 16px;
  line-height: 28px;
  a,
  button {
    //color: white;
    //background-color: blue;
    //font-size: 0.7em;
    text-decoration: inherit;
    position: relative;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    //margin-top: 24px;
    margin-left: 10px;
    background-color: white;
    color: $colorSixBlue;
  }
  a {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  button {
    height: 28px;
    padding: 0 4px;
  }
}
#my-home {
  .virtual-row {
    height: 96px;
  }
  .virtual-container {
    max-height: calc(100vh - 596px); // TODO: The header might change because of no-ads..
  }
  .recent {
    .virtual-container {
      max-height: calc(100vh - 382px); // TODO: The header might change because of no-ads..
    }
    .virtual-row {
      height: 304px;
    }
  }
}
