*.log.*
.awcache/
node_modules/
.sass-cache/
/src/**/*.css
/src/**/*.css.map
/src/**/*.js
/src/**/*.js.map
/styles/*
/bower_components/
/dist/
/legacy/
jspm_packages/
/typings/globals/
/typings/modules/
