<!DOCTYPE html>
<html six-ng-app="MyAppMain" ng-strict-di="true">

<head>
  <link rel="stylesheet" href="/styles/lib.css">
  <link rel="stylesheet" href="/styles/fonts.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:500,400,300,300italic">

  <style>
    html,
    body {
      height: 100%;
    }

    body {
      background-color: #f0f0f0;
    }

    #applicationHost {
      height: 100%;
    }

    #applicationLoader {
      background-image: url('//withsix.azureedge.net/img/logo.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      height: 100%;
    }

  </style>

  <title ng-bind="pageInfo.title">withSIX</title>
  <link rel="shortcut icon" ng-href="{{w6.versionedAsset('img/meta/favicon.ico')}}" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <meta name="fragment" content="!">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="author" lang="en" content="SIX Networks GmbH">
  <meta name="description" lang="en" sx-content="{{microdata ? microdata.description : 'withSIX' | htmlToPlaintext2}}">
  <meta name="keywords" lang="en" sx-content="{{microdata ? microdata.keywords : 'withSIX, games, modifications, mods, missions, collections, gaming, custom content, Play withSIX, connect withSIX, SIX Networks'}}">

  <meta name="twitter:site" content="@SixNetworks">
  <meta name="twitter:site:id" content="SixNetworks">
  <meta name="twitter:url" sx-content="{{microdata.currentPage || url.currentPage}}">
  <meta name="twitter:card" sx-content="{{microdata && microdata.image ? 'summary_large_image' : 'summary'}}">
  <meta name="twitter:title" sx-content="{{microdata.title}}" ng-if="microdata">
  <meta name="twitter:description" sx-content="{{microdata.description | htmlToPlaintext2}}" ng-if="microdata">
  <meta name="twitter:image:src" sx-content="{{microdata.image || defaultImage}}" ng-if="microdata">

  <meta property="og:site_name" content="withSIX">
  <meta property="og:image" sx-content="{{microdata && microdata.image ? microdata.image : defaultImage}}">
  <meta property="og:url" sx-content="{{microdata.currentPage || url.currentPage}}">
  <meta property="og:type" content="article" ng-if="microdata">
  <meta property="og:title" sx-content="{{microdata.title}}" ng-if="microdata">
  <meta property="og:description" sx-content="{{microdata.description | htmlToPlaintext2}}" ng-if="microdata">

  <!-- TODO: Import old heads -->
  <!--
    <link rel="apple-touch-icon" href="@Url.VersionedAsset("img/meta/apple-touch-icon.png")"/>
    <link rel="apple-touch-icon" sizes="72x72"
          href="@Url.VersionedAsset("img/meta/apple-touch-icon-57x57-precomposed.png")"/>
    <link rel="apple-touch-icon" sizes="114x114"
          href="@Url.VersionedAsset("img/meta/apple-touch-icon-114x114-precomposed.png")"/>
    <link rel="apple-touch-icon" sizes="144x144"
          href="@Url.VersionedAsset("img/meta/apple-touch-icon-144x144-precomposed.png")"/>

    @if (LayoutModel.PreviousUrl != null) {
        <link rel="prev" href="@(LayoutModel.Urls.CurrentSite)(@LayoutModel.PreviousUrl)"/>
    }
    @if (LayoutModel.NextUrl != null) {
        <link rel="next" href="@(LayoutModel.Urls.CurrentSite)(@LayoutModel.NextUrl)"/>
    }
    -->

  <script>
    window.prerenderReady = false;

  </script>

  <!-- Google Analytics -->
  <script>
    //if (Environments.Environment == Environments.Production) {
    window.google_analytics_uacct = 'UA-33540689-1';
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments);
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m);
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-33540689-1', 'withsix.com');
    // TODO: Generate by JS?
    /*
    ga('set', 'dimension1', "@(LayoutModel.LoggedIn ? "yes" : "no")");
    ga('set', 'dimension2', "@LayoutModel.Urls.CurrentPage.DnsSafeHost");
    ga('set', 'dimension3', "@(LayoutModel.IsClient ? "yes" : "no")");
    */
    ga('require', 'linkid', 'linkid.js');
    /* ga('send', 'pageview'); // handled by angular now */

  </script>

  <!-- Adsense -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8060864068276104",
      enable_page_level_ads: true
    });

  </script>

  <!-- Doubleclick -->
  <script type="text/javascript">
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];

    window.googleDfpPreloaded = true;

    (function() {
      var gads = document.createElement("script");
      gads.async = true;
      gads.type = "text/javascript";
      var useSSL = "https:" == document.location.protocol;
      gads.src = (useSSL ? "https:" : "http:") + "//www.googletagservices.com/tag/js/gpt.js";
      var node = document.getElementsByTagName("script")[0];
      node.parentNode.insertBefore(gads, node);
    })();

  </script>

  <script>
    googletag.cmd.push(function() {
      googletag.sbNgTags = googletag.sbNgTags || [];
    });

  </script>

  <base href="<%- webpackConfig.metadata.baseUrl %>">
  <!-- imported CSS are concatenated and added automatically -->
</head>

<body ng-controller="MainAppController as vm" data-status="{{ status }}">
  <div id="applicationHost">
    <div id="applicationLoader">
      <div class="container-fluid">
        <center>
          <div class="splash" id="splash" style="margin-top: 100px;">
            <div class="message" id="splash-message">
              <noscript>
                <div class="container-fluid">
                  We apologize for the inconvenience, but you need to have JavaScript enabled to view this page
                  <br/>
                  <br/> Please visit our Feedback and
                  <br/>Support community over at:
                  <br/>
                  <a href="https://community.withsix.com" target="_blank">Get Satisfaction withSIX</a>
                </div>
              </noscript>
            </div>
          </div>
        </center>
      </div>
    </div>
  </div>

  <div app-view-segment="0" id="content"></div>

  <script src="/dist_legacy/bower.min.js"></script>
  <script src="/dist_legacy/vendor.min.js"></script>
  <!-- <script src="/dist_legacy/misc.min.js"></script>
  <script src="/dist_legacy/app.min.js"></script> -->

  <% if (webpackConfig.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>
