@import "_v2";
@mixin anim($what, $value0, $value100: 0px, $timeout: 0.5s) {
  #{$what}: $value0;
  overflow: hidden;
  @include transition($what, $timeout);
  &.active {
    #{$what}: $value100;
  }
}

@mixin anim-inner($what, $value0, $value100: 0px, $timeout: 0.5s) {
  .tab-content-inner {
    overflow: hidden;
    #{$what}: $value0;
  }
  @include transition($what, $timeout);
  &.active {
    .tab-content-inner {
      #{$what}: $value100;
    }
  }
}

.v2 {
  .shell-bar {
    .btn,
    button {
      height: $headerSize;
      width: $sideHeaderSize;
      background-color: transparent;
      border: 0;
      padding: 0;
      color: $barColor;
      // padding-top: $buttonMargin;
      // padding-bottom: $buttonMargin;
      border: 0;
      &:focus {
        outline: none;
      }
      .icon {
        font-size: $headerSize / 2;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      &>li {
        list-style-type: none;
      }
    }
  }
  .tab-strip {
    button {
      &.disabled,
      &:disabled {
        color: $colorSixLightGray;
      }
    }
    .tab-header {
      .item-progress-width {
        height: $headerSize;
        margin-top: -12px; // hmm
      }
    }
    li.active.tab {
      background-color: $colorSixMediumGray;
    }
  }
  .tab-content-container {
    z-index: $headerZindex + 2;
    position: fixed;
    top: $headerSize;
    &.tab {
      bottom: 0; // height: 100%;
    }
    .tab-header {
      margin-bottom: 12px;
    }
    header {
      color: $colorSixLightGray;
    }
    action-bar.main>ul.menu,
    ul.menu.main {
      >li {
        @include text-overflow;
        // &:first-child {
        //   margin-top: 0;
        // }
        &.separator {
          hr {
            margin: 0;
          }
        }
      }
    }
    &.tab {
      width: $tabWidth;
      background-color: $colorSixDarkGray;
      color: $barColor;
      .tab-content {
        .the-content {
          top: 60px;
          left: 8px;
          right: 8px;
          bottom: 56px; // 40 + 2x 8
          position: absolute;
          overflow-y: auto;
        }
        button.bottom,
        command-button.bottom {
          position: absolute;
          bottom: 8px;
          width: 284px;
          button {
            width: 284px;
          }
        }
      }
    }
    .tab-content-inner {
      .tab-header {
        a.active-game {
          font-size: $font-size-tiny;
        }
      }
    }
    &.dropdown {
      width: $dropdownWidth;
      color: $colorSixGray;
      //bottom: auto;
      //max-height: 100%;
      ul {
        font-weight: $font-weight-medium;
        font-size: $font-size-medium;
        li.item {
          height: $font-size-medium + 8px;
        }
      }
      hr {
        margin: 8px 0;
        opacity: 0.5;
      }
      .icon {
        font-size: $font-size-base;
      }
      .the-content {
        //margin-bottom: 48px;
        position: inherit; // Temporary workaround
      }
      .tab-content {
        button.bottom,
        command-button.bottom {
          //position: absolute;
          //bottom: 8px;
          //width: 284px;
          display: block;
          margin-top: 16px;
          margin-bottom: -16px;
          width: 168px;
          button {
            width: 168px;
          }
        }
      }
      .tab-content-inner {
        background-color: white;
        .tab-content {
          padding: 16px;
        }
      }
      action-bar {
        ul.menu {
          span {
            vertical-align: middle;
          }
          .icon {
            margin-right: 8px;
          }
        }
      }
    }
  }
  // legacy
  #header-row {
    $desiredHeight: 164px;
    height: $desiredHeight;
    .overlay {
      height: $desiredHeight;
    }
  }
  .main {
    &.home {
      #header-row {
        $desiredHeight: 240px;
        height: $desiredHeight;
        .overlay {
          height: $desiredHeight;
        }
      }
    }
  }
  .play-game {
    #header-row {
      $desiredHeight: 186px;
      height: $desiredHeight;
      .overlay {
        height: $desiredHeight;
      }
    }
  }
  .no-adds.play-game {
    #header-row {
      $desiredHeight: 128px;
      height: $desiredHeight;
      .overlay {
        height: $desiredHeight;
      }
    }
  }
  #content-view {
    //margin-top: $headerSize;
    position: absolute;
    top: $headerSize;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    #left-tabs {
      .tab-content {
        //@include animate(margin-left, 0px, -$tabWidth);
      }
      .tab-content-container {
        &.tab {
          @include anim(margin-left, -$tabWidth);
        }
        &.dropdown {
          @include anim(max-height, 0, 300px);
        }
      }
    }
    #right-tabs,
    #right-tabs2 {
      .tab-content {
        //  @include animate(margin-right, 0px, -$tabWidth);
      }
      .tab-content-container {
        right: 0;
        &.tab {
          @include anim(margin-right, -$tabWidth);
        }
        &.dropdown {
          @include anim(max-height, 0, 300px);
        }
      }
    }
    #footer-row {}
  }
  #tab-overlay {
    //position: relative;
    &:after {
      content: " ";
      z-index: $headerZindex + 1;
      display: block;
      position: fixed;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &.tab:after {
      background: rgba(0, 0, 0, 0.5);
    }
  }
  .show-rsidebar {
    #content-view {
      margin-right: $sideHeaderSize;
      #right-tabs,
      #right-tabs2 {
        .tab-content-container {
          right: $sideHeaderSize; // override the right: 0 from above
        }
      }
    }
  }
  .show-sidebar {
    #content-view {
      margin-left: $sideHeaderSize;
    }
    // #left-tabs {
    //   .tab-content-container {
    //     left: $headerSize;
    //   }
    // }
  }
  .sphere {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 500%;
    position: relative;
    //box-shadow: inset -10px -10px 100px #000, 10px 10px 20px black, inset 0px 0px 10px black;
    display: inline-block;
    &.redbg {
      background-color: $colorSixSoftRed;
    }
    &.greenbg {
      background-color: $colorSixGreen;
    }
    &.bluebg {
      background-color: $colorSixBlue;
    }
    &.yellowbg {
      background-color: yellow;
    }
    &.orangebg {
      background-color: $colorSixOrange;
    }
  }
  .sphere::after {
    background-color: rgba(255, 255, 255, 0.3);
    content: '';
    height: 45%;
    width: 12%;
    position: absolute;
    top: 4%;
    left: 15%;
    border-radius: 50%;
    transform: rotate(40deg);
  }
}

$awesome: rgba(255, 255, 255, 0.83);
div.source {
  left: 10px;
  position: absolute;
  bottom: 0;
  background-color: $awesome;
  img.source {
    max-height: 16px;
    max-width: 16px;
    margin: 8px;
  }
}

.card.horizontal {
  .basketable-dropdown button.dropdown-toggle {
    right: 0;
  }
  action-bar.basketable-action {
    button {
      left: 0;
    }
  }
  div.source {
    left: 0;
  }
}

.logo2 {
  div.source {
    left: 0;
    img.source {
      float: left;
      margin-left: 8px;
    }
    .text {
      float: left;
      margin: 4px;
    }
  }
}

.tab-header {
  .dropdown-toggle {
    margin-top: -4px;
  }
}

.tab-content {
  li {
    font-size: $font-size-medium;
    .icon {
      font-size: $font-size-base;
    }
    button {
      .count {
        padding: 0 4px;
      }
      &.update {
        .count.positive {
          background-color: $colorSixOrange;
          @include border-radius();
        }
      }
    }
  }
  .the-content {
    .form-control {
      height: inherit;
    }
    $itemH: 32px;
    $item-height: $itemH+8px;
    $imageWidth: 46.6px;
    li {
      height: $item-height;
      overflow: hidden;
      .entry {
        padding: 4px 0;
        .update-available {
          color: $colorSixOrange;
          .version {
            font-style: italic;
          }
        }
        dropdown-menu {
          margin-left: 4px;
          display: none;
          button.dropdown-toggle {
            height: $itemH;
          }
        }
        .imageholder {
          overflow: hidden;
          margin-left: 8px;
          width: $imageWidth;
          height: $itemH;
          display: inline-block;
          action-bar {
            li {
              button {
                margin-top: -1px;
                margin-left: -1px;
              }
            }
          }
          .actions {
            display: none;
            li {
              width: $imageWidth;
              button.anchor {
                height: $itemH;
                width: 100%;
                text-align: center;
                &:hover {
                  color: inherit;
                }
              }
              span.spacer,
              span.text {
                display: none;
              }
            }
          }
        }
        &:hover {
          dropdown-menu {
            display: block;
          }
          background-color: $colorSixMediumGray;
          .imageholder {
            .actions {
              background-color: $colorSixGreen;
              color: white;
              display: block;
              button.active {
                span.icon {
                  display: none;
                }
              }
            }
          }
        }
        .content-state-c-bgd-border {
          $borderWidth: 2px;
          height: 32px;
          border-left-width: $borderWidth;
          border-left-style: solid;
        }
        .info {
          $space: 212px - $scrollBarSize;
          $margin: 8px;
          margin-left: 8px;
          margin-right: 8px;
          max-width: $space - ($margin * 2);
          overflow: hidden;
          .author {
            font-style: italic;
            @include text-overflow;
          }
          .size {
            font-weight: $font-weight-medium;
          }
          .title {
            font-weight: $font-weight-medium;
          }
          .other-info,
          .title {
            height: 16px;
            @include text-overflow;
          }
        }
      }
    }
    ul.small-list {
      $itemH: 24px;
      $item-height: $itemH+8px;
      $imageWidth: 42.6px;
      li {
        height: $item-height;
        .entry {
          line-height: 1;
          dropdown-menu {
            button.dropdown-toggle {
              height: $itemH;
            }
          }
          .imageholder {
            width: $imageWidth;
            height: $itemH;
            .actions {
              li {
                width: $imageWidth;
                button.anchor {
                  height: $itemH;
                }
              }
            }
          }
        }
      }
    }
  }
}
