<section id="new-contentheader-row" ng-style="{'background-image': ('url('+ header.getAvatar(w6.imageSizes.bigRectangle.w, w6.imageSizes.bigRectangle.h) +')'), position: 'relative'}">
  <div class="overlay">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 hidden-xs hidden-sm hidden-md">&nbsp;</div>

        <div class="col-lg-10 col-md-12">
          <div class="center-panel">
            <div class="info-panel horizontal">
              <div class="my-container">
                <div class="left">
                  <div class="title">
                    <h1 class="pagetitle" itemprop="name headline">
                      <span ng-if="model.group" class="icon withSIX-icon-Lock"></span>
                      <span class="title" ng-transclude="name">{{header.title}}</span>
                      <span class="author" ng-transclude="author"
                            itemprop="author" itemscope itemtype="http://schema.org/Person">
                          <span ng-if="model.group">
                            by group:&nbsp;<a ng-href="/me/groups/{{model.group.id.toShortId()}}/{{model.group.slug}}" rel="author"
                                        itemprop="author" itemscope itemtype="http://schema.org/Person"
                                        title="{{model.group.name}}">{{model.group.name | characters: 20 :true}}</a>
                          </span>
                          <span ng-if="!model.group">
                            <span ng-if="model.author">
                                by&nbsp;<a ng-href="{{model.author.profileUrl}}" rel="author" title="{{model.author.displayName}}">
                                    {{model.author.displayName | characters: 20 :true}}
                                </a>
                            </span>
                          </span>
                      </span>
                  </h1>
                  </div>
                  <div class="bottom">
                    <div class="col-md-4 col-sm-2 no-horizontal-padding" ng-transclude="download">
                    </div>
                    <div class="content-info col-md-8 col-sm-10" ng-transclude="info"></div>
                  </div>
                </div>
              </div>
              <div class="logo" ng-transclude="logo">
                <div itemprop="image" class="imageholder" ng-style="{'background-image': ('url('+ header.getAvatar(w6.imageSizes.smallRectangle.w, w6.imageSizes.smallRectangle.h) +')'), position: 'relative'}">
                </div>
              </div>
            </div>

            <div class="info-panel combo">
              <div class="title">
                <h1 class="pagetitle" itemprop="name headline">
                  <span class="title" ng-transclude=="name">{{header.title}}</span>
                  <span class="author" ="author"
                        itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <span ng-if="model.author">by&nbsp;<a ng-href="{{model.author.profileUrl}}" rel="author">{{model.author.displayName}}</a></span>
                  </span>
              </h1>
              </div>
              <div class="bottom">
                <div class="left">
                  <div ng-transclude="download">
                  </div>
                  <div class="content-info" ng-transclude="info"></div>
                </div>
                <div class="logo" ng-transclude="logo">
                  <img ng-src="{{header.getAvatar(w6.imageSizes.smallRectangle.w, w6.imageSizes.smallRectangle.h)}}" alt="logo" itemprop="image" />
                </div>
              </div>
            </div>

            <div class="info-panel vertical">
              <div class="logo" ng-transclude="logo">
                <img ng-src="{{header.getAvatar(w6.imageSizes.smallRectangle.w, w6.imageSizes.smallRectangle.h)}}" alt="logo" itemprop="image" />
              </div>
              <div class="title">
                <h1 class="pagetitle" itemprop="name headline">
                    <span class="title" ng-transclude="name">{{header.title}}</span>
                    <span class="author" ng-transclude="author"
                          itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <span ng-if="model.author">by&nbsp;<a ng-href="{{model.author.profileUrl}}" rel="author">{{model.author.displayName}}</a></span>
                    </span>
                </h1>
              </div>
              <div class="bottom">
                <div class="no-horizontal-padding" ng-transclude="download">
                </div>
                <div class="content-info" ng-transclude="info"></div>
              </div>
            </div>

            <div class="bottom tagbar">
              <div class="right pull-right" ng-transclude="report">
                <sx-header-report>
                  <button class="anchor flag" title="report" ng-click="reportContent()">
                    <i class="fa fa-flag"></i>
                  </button>
                </sx-header-report>
              </div>

              <div class="left tag-bar">
                <span class="content-type" ng-transclude="type" itemprop="genre"></span>

                <span class="tags" ng-transclude="tags" itemprop="keywords">
                  <span ng-repeat="tag in header.tags" class="tag" style="margin-left: 4px">
                      {{::tag}}
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-1 hidden-xs hidden-sm hidden-md">&nbsp;</div>
      </div>
    </div>
  </div>
</section>

<section id="content-row">
  <div class="container-fluid bodyheader">
    <div class="tabbar" ng-include="'/src_legacy/app/play/shared/_tabbar.html'"></div>
  </div>
</section>
