@import "_v2";

#tab-view-render-groups {
  li.group {
    .logo {
      display: inline-block;
      @include wide-from-height(32px,'');
      img {
        @include wide-from-height(32px);
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
    .imageholder {
      display: block;
      @include wide-from-height(32px,'');
    }
  }
}
