.main {
  &.home {
    #header-row {
      $desiredHeight: 440px;
      height: $desiredHeight;
      .overlay {
        height: $desiredHeight;
      }
    }
  }
  .tabbar {
    background-color: #fff !important;
    position: relative;
  }
  #root-content-row {
    background: none;
    position: relative;
    z-index: 2;
  }
}
