@import "_v2";
#tab-view-render-library {
  $itemH: 32px;
  $item-height: $itemH + 4px;
  .virtual-row {
    height: $item-height;
  }
  .virtual-container {
    max-height: calc(100% - 16px);
  }
  .has-recent {
    .virtual-container {
      max-height: calc(50% - 16px);
    }
  }
  .recent {
    .virtual-container {
      max-height: calc(50% - 52px);
      //height: $item-height * 8; // TODO: base this on view port etc
    }
  }
  action-bar.header-items {
    li {
      margin-top: 0;
      padding: 4px;
      &:hover {
        background-color: $colorSixMediumGray;
        button.anchor:hover {
          color: inherit;
        }
      }
    }
    button {
      width: 100%;
      text-align: left;
    }
  }
  header.title {
    color: $colorSixLightGray;
    font-size: $font-size-tiny;
    .text-link {
      font-weight: $font-weight-medium;
    }
  }
  button.bottom {
    text-transform: uppercase;
    background-color: $colorSixGreen;
  }
  .the-content {
    top: 200px;
    right: 0;
    hr {
      margin-right: 8px;
    }
  }
  /*
  li {
    font-size: $font-size-medium;
    .icon {
      font-size: $font-size-base;
    }
    button {
      .count {
        padding: 0 4px;
      }
      &.update {
        .count.positive {
          background-color: $colorSixOrange;
          @include border-radius();
        }
      }
    }
  }
  */
}
