@import "_base";
@import '_content';
@include scrollbars(0.5em, rgb(213, 213, 213), rgb(60, 60, 60));
virtual-list {
  height: 500px;
  display: block;
  // ul {
  //   display: table;
  //   li {
  //     display: table-row;
  //   }
  // }
}
.virtual-table {
  height: 500px;
}
.virtual-container {
  overflow-y: auto;
  max-height: 55vh;
}
.virtual-row {
  display: block;
}
.user-error-dialog {
  max-width: 800px;
}
filters {
  .filters-area {
    height: 92px;
    button,
    input,
    select {
      border: 1px solid $colorSixSomeGray;
    }
    select.grid-type {
      height: 46px;
      option {
        margin: 0;
      }
    }
    button {
      margin-top: -4px;
    }
    input {
      width: 25%;
      display: initial;
      padding: 20.5px 19px;
      margin-right: 7px;
    }
    // .form-control.search-control {
    //   width: initial;
    //   display: initial;
    //   border: none;
    //   padding: 20.5px 19px;
    //   margin-right: 7px;
    // }
  }
}
.message-dialog {
  max-width: 800px;
  .buttons {
    button {
      &.yes {
        background-color: $colorSixBlue;
      }
      &.cancel,
      &.no {
        background-color: $colorSixSoftRed;
      }
    }
  }
}
card-view {
  .details-overlay-footer {
    padding: 0;
  }
  .content-stateable {
    @include extend-content-state-colors("bgd-border", true, border-bottom-color);
  }
  .card {
    dropdown-menu {
      display: none;
    }
    &:hover {
      dropdown-menu {
        display: block;
      }
    }
    &.horizontal {
      conditiona-title {
        display: block;
      }
      .alternative-game {
        display: none;
      }
      div.img {
        float: left;
        width: 320px;
      }
      .basket-content-progess-bar,
      .imageholder,
      div.info {
        height: 180px;
      }
      @mixin small() {
        div.img {
          width: 170px;
        }
        .basket-content-progess-bar,
        .imageholder,
        div.info {
          height: 92px;
        }
      }
      @media (max-width: 1280px) and (min-width: 990px) {
         @include small;
      }
      @media (max-width: 768px) {
         @include small;
      }
      &.small-card {
        div.img {
          width: 170px;
        }
        .basket-content-progess-bar,
        .imageholder,
        div.info {
          height: 92px;
        }
      }
    }
  }
  h3.row-header {
    margin-bottom: 18px;
    font-size: 1.5em;
    font-weight: 300;
  }
  .card,
  .collection {
    .bottom-bar {
      height: 28px;
      /*ul, li, button {
        width: 100%;
    }*/
      action-bar button {
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
      }
      action-bar button,
      button.dropdown-toggle {
        color: inherit;
        font-size: 0.7em;
        text-decoration: inherit;
        height: 28px;
        position: relative;
        left: 0;
        font-size: $font-size-small;
        border: none;
        color: white;
        background-color: transparentize($colorSixDarkGray, 0.4);
        padding: 5px 10px;
        right: 12px;
      }
      dropdown-menu {
        padding-left: 4px;
      }
    }
  }
}
#changelog {
  .entries > ul {
    font-size: $font-size-small;
    padding: 20px 20px 20px 40px !important;
    background: white;
  }
}
#update-page {
  .changelog {
    font-size: $font-size-small;
  }
  .updatebtn {
    background-color: $calltoaction;
    border: none;
    @include center-block;
    margin-top: -32px;
    /*padding-right: 32px;
    padding-left: 96px;*/
    width: 100%;
    height: 70px;
    color: $color0;
    position: relative;
    text-align: left;
    font-size: 22px;
    //padding-top: 16px;
    line-height: 26px;
    text-decoration: none;
    overflow: hidden;
    &.updateavailable {
      background-color: $colorSixOrange;
    }
    &.noclient {
      background-color: $colorSixMediumGray;
    }
  }
  .donations {
    .buttons {
      height: 240px;
    }
  }
  .client-info {
    height: 120px;
  }
  span.publish-buttons,
  span.share-buttons {
    float: right;
    a {
      color: $colorSixGray;
      background-color: white;
      border-bottom: 2px solid $colorSixGray;
      padding: 8px;
      text-decoration: none;
      display: inline-block;
      margin-left: 4px;
      &:not(.icon) {
        line-height: 30px;
        padding: 0 8px;
      }
    }
  }
  span.share-buttons {
    a {
      display: inline-block;
      margin-left: 4px;
      &:not(.icon) {
        line-height: 32px;
        padding: 0 8px;
        border-bottom: 0;
      }
      &.icon {
        @include icon-size(24px);
        padding: 0;
        @include square(32px);
      }
      &.twitter {
        border-color: $twitterColor;
      }
      &.facebook {
        border-color: $facebookColor;
      }
    }
  }
}
#download-page {
  iframe {
    margin: 0 auto;
    display: block;
  }
  .tile {
    h2 {
      margin-top: 0;
      font-size: 24px;
    }
  }
  .sync-client-info {
    h2 {
      margin-top: 0;
      margin-bottom: 8px;
    }
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .get-premium {
    background-color: $colorSixOrange;
    color: white;
    a {
      color: $colorSixOrange !important;
      background-color: white;
      float: none;
      margin-right: initial;
      display: inline-block;
      font-size: 16px;
      padding: 6px 12px;
      height: inherit;
    }
  }
  .changelog {
    text-align: center;
    font-size: $font-size-small;
  }
  .download-button {
    height: 120px;
    background-color: $colorSixBlue;
    a.calltoaction {
      &.maindownload {
        width: 450px;
        height: 100px;
        padding-top: 32px;
        .iconbg em.icon {
          line-height: 80px;
        }
      }
    }
  }
  .pitch {
    .tile {
      margin-bottom: 32px;
      &.text {
        font-size: 16px;
        line-height: 20px;
        margin-left: 136px;
      }
    }
    .img {
      @include squareImg(48px);
      span {
        color: white;
      }
    }
    #smart {
      .img {
        background-color: $colorSixOrange;
      }
    }
    #sync {
      .img {
        background-color: $colorSixBlue;
      }
    }
    #play {
      .img {
        background-color: $colorSixGreen;
      }
    }
    #sync-logo {
      margin-left: auto;
      margin-right: auto;
      span {
        text-align: center;
        font-size: 64px;
        color: $colorSixBlue;
      }
    }
  }
}
.content-basketable {
  .content-basketable-button,
  action-bar.basketable-action button {
    @include transition(background-color 0.5s ease);
    border: none;
    color: white;
    background-color: transparentize($colorSixDarkGray, 0.4);
    padding: 5px 10px;
    .content-basketable-icon {
      @include withSIX-icon("");
      font-size: $font-size-tiny;
    }
  }
  .basketable-dropdown button.dropdown-toggle {
    float: right;
    position: relative;
    right: 12px;
    border: none;
    color: white;
    background-color: transparentize($colorSixDarkGray, 0.4);
    padding: 5px 10px;
    .content-basketable-icon {
      @include withSIX-icon("");
      font-size: $font-size-tiny;
    }
  }
  .content-basketable-button {
    float: left;
    left: 12px;
    position: relative;
    &:hover {
      .content-basketable-text {
        padding-left: 5px;
        font-size: 13px;
        &:before {
          content: "ADD TO PLAYLIST";
        }
      }
    }
  }
  action-bar.basketable-action button {
    float: left;
    left: 10px;
    position: relative;
    text-decoration: initial;
    .content-basketable-text {
      display: none;
    }
    &:hover {
      .content-basketable-text {
        display: initial;
        //padding-left: 5px;
        //font-size: 13px;
      }
    }
  }
  &.in-basket {
    .content-basketable-button {
      @include transition(background-color 0.5s ease);
      background-color: transparentize($colorSixGreen, 0.4);
      .content-basketable-icon {
        @include withSIX-icon("");
      }
      &:hover {
        .content-basketable-text:before {
          content: "IN PLAYLIST";
        }
      }
    }
  }
}
menu {
  margin: 0;
  padding: 0;
}
.page-title {
  font-size: 2.5em;
  margin-top: 0;
}
.library-menu {
  .well {
    background-color: initial;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0;
    li {
      a {
        padding-top: 12px;
        padding-bottom: 12px;
        border-left: 48px solid $colorSixLightGray;
        text-decoration: none;
        background-color: $colorSixBlue;
        &:hover {
          background-color: $colorSixBlue;
        }
        .icon {
          margin-left: -51px;
          float: left;
          margin-top: 1px;
          font-size: 24px;
          color: $colorSixBlue;
        }
      }
      &:not(.active) {
        a {
          background-color: white;
          color: $colorSixMediumGray;
          &:hover {
            //background-color: $colorSixBlue;
            //color: white;
            .icon {
              color: $colorSixBlue;
            }
          }
          .icon {
            color: $colorSixMediumGray;
          }
        }
      }
      margin-bottom: 16px;
    }
  }
}
