@import '_base';
@import '_content';
$barHeight: 40px;
$basket-title-height: 40px;
$basket-title-icon-height: 16px;
$basket-content-icon-height: 16px;
$basket-headerline-height: 4px;
$basket-subheader-height: 20px;
$basket-content-height: 56px;
$expandHeight: 240px;
$basket-onmi-color: $colorSixBlue;
$basketBodyBackgroundColor: $colorSixGray;
$basketHeaderBackgroundColor: $colorSixDarkGray;
$basket-client-footer-background-color: $colorSixBlue;
$basket-width: 366px;
$basket-right-padd: 40px;
$basket-header-font-size: $font-size-medium;
$status-icon-width: 70px;
$status-width: 330px;
$status-total-width: $status-icon-width + $status-width;
@mixin basket-title-icon($icon-size, $line-height, $vert-align: true) {
  text-align: center;
  vertical-align: middle;
  @if $vert-align {
     @include v-align-content($line-height);
  }
  //& > :first-child {
  .icon {
    font-size: $icon-size;
    //padding-right: 3px;
    //vertical-align: sub;
    &:last-child:first-child {
      padding-right: 0;
    }
  }
  //}
}
.blabla-bogus-fix-utf8char {
  display: block;
}
.basket {
  //@include no-padding-h();
  .status-col {
    @include make-lg-column-offset(0);
    @include make-md-column-offset(0);
    @include make-column-fluid(3, 4, 0, 0, 0);
    background-color: aqua;
  }
  .basket-col {
    @include make-lg-column-offset(7.5);
    @include make-md-column-offset(5.5);
    @include make-column-fluid(3, 4, 12, 12, 0);
    //float:right !important;
    @media (min-width: 797px) {
      & > :first-child {
        padding-right: $basket-right-padd;
      }
    }
  }
  .no-top {
    top: 0 !important;
  }
  .status-header-item-icon {
    width: $status-icon-width;
    .status-header-item-icon-imageholder {
      @include maintain-ratio(16 9);
    }
  }
  .status-header {
    background-color: $basketHeaderBackgroundColor;
    //height: $basket-title-height;
    pointer-events: all;
    //max-height: 45px;
    overflow: hidden;
    font-size: $basket-header-font-size;
    .status-header-icon {
      //@include basket-cell(40px);
      @include basket-title-icon($basket-title-icon-height, $basket-title-height);
      position: relative;
      padding-top: 3px;
      color: $colorSixGreen;
      button {
        background-color: $basketHeaderBackgroundColor;
        color: white;
        border: none;
        height: $basket-title-height;
        width: 100%;
        box-shadow: none;
      }
    }
    .status-header-title {
      color: white;
      width: 160px;
      //@include basket-cell(100%);
      @include basket-title-icon($basket-title-icon-height, $basket-title-height);
      position: relative;
      font-size: $basket-header-font-size;
      p {
        text-align: left;
        margin: 0;
        @include text-overflow;
        max-width: 176px;
      }
    }
    .status-header-omnibutton {
      @include basket-title-icon($basket-title-icon-height, $basket-title-height, false);
      .icon {
        vertical-align: middle;
      }
      .basket-state-text {
        margin-left: 2px;
      }
      //@include basket-cell(83px);
      padding-top: 0;
      & > :first-child {
        -webkit-transition: width 1s;
        /* Safari */
        transition: width 1s;
        position: relative;
      }
      @media (max-width: 475px) {
        .basket-state-text {
          display: none;
        }
        & > :first-child {
          width: 45px;
          padding-left: 4px;
        }
      }
      button {
        color: white;
        border: none;
        height: $basket-title-height;
        width: 100%;
        box-shadow: none;
      }
    }
    .status-header-contextbutton {
      @include basket-title-icon($basket-title-icon-height, $basket-title-height, false);
      //@include basket-cell(30px);
      padding-top: 0;
      & > :first-child {
        -webkit-transition: width 1s;
        /* Safari */
        transition: width 1s;
        position: relative;
      }
      button {
        background-color: $basketHeaderBackgroundColor;
        color: white;
        border: none;
        height: $basket-title-height;
        width: 100%;
        box-shadow: none;
      }
    }
  }
  .status-headerline {
    position: absolute;
    bottom: 0;
    pointer-events: all;
    width: $status-width;
    height: 4px;
  }
  .basket-header {
    background-color: $basketHeaderBackgroundColor;
    color: $basketBodyBackgroundColor;
    height: $basket-title-height;
    pointer-events: all;
    max-height: 45px;
    overflow: hidden;
    font-size: $basket-header-font-size;
  }
  .basket-headerline {
    pointer-events: all;
    height: $basket-headerline-height;
    position: absolute;
    bottom: 0;
    width: $basket-width;
    .basket-headerline-title {
      //@include basket-cell(100%);
    }
  }
  .basket-subheader {
    padding-left: 10px;
    pointer-events: all;
    background-color: $basketHeaderBackgroundColor;
    & > :first-child {
      & > :first-child {
        height: $basket-subheader-height;
      }
      .basket-subheader-title {
        //@include basket-cell(100%);
      }
    }
    button {
      color: white;
    }
    p {
      margin-bottom: 0;
    }
  }
  dropdown-menu {
    .dropdown-toggle {
      color: white;
      border: 0;
      padding: 0;
      line-height: $basket-title-height;
      height: $basket-title-height;
      margin-right: 8px;
      margin-left: 8px;
      background-color: transparent;
    }
  }
  .basket-client-footer {
    color: white;
    padding: 16px;
    a {
      color: white;
    }
    background-color: $basket-client-footer-background-color;
    pointer-events: all;
    .basket-client-footer-button {
      margin-top: 6px;
      font-size: $font-size-tiny;
      line-height: 1.0;
    }
    .basket-client-footer-button-close {
      position: absolute;
      right: 0;
      top: 0;
      background-color: $colorSixSoftRed;
      color: white;
      font-weight: bold;
      border: none;
      font-size: $font-size-tiny;
      padding: 4px;
    }
    .basket-client-footer-icon {
      margin-top: 4px;
      font-size: 28px;
    }
    .basket-client-footer-text {
      margin-left: 8px;
      line-height: 1.0;
      .basket-client-footer-text-title {
        font-size: 14pt;
      }
      .basket-client-footer-text-subtitle {
        font-size: $font-size-tiny;
      }
    }
  }
}
