@import "_base";
#servers {
  .virtual-container {
    max-height: 33vh;
  }
  .virtual-row {
    height: 50px;
  }
}

#wrapper.v3 {
  #content-view {
    // TODO: make nice and custom per game
    //background-color: #696969;
  }
}

#server-browser {
  $filter-width: 300px;
  $gutter-width: 32px;
  .server-filters {
    float: left;
    padding: 16px;
    width: $filter-width;
    background-color: $colorSixLightGray;
    min-height: 600px;
    //border: 1px solid $colorSixGray;
    .show-more {
      color: $colorSixBlue;
      text-decoration: none;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        list-style: none;
        line-height: 1;
        .title {
          margin-top: 16px;
          margin-bottom: 8px;
        }
        rangeboxadv {
          // TODO: Make it look like the mockup ;-)
          display: block;
          margin-top: 24px;
          margin-bottom: 32px;
        }
        .noUi-connect {
          background: $colorSixGreen;
        }
        .form-group {
          margin: 0;
        }
      }
    }
  }
  .server-list {
    margin-left: $filter-width + $gutter-width;
    .server-list-info {
      height: 40px;
      color: $colorSixGray;
    }
    .server-list-content {
      background-color: white;
      a {
        color: inherit;
      }
      table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border: 1px solid $colorSixGray;
      }
      thead {
        tr {
          border: 1px solid $colorSixBlue;
        }
        border: 1px solid $colorSixBlue;
      }
      tr {
        padding: 4px 0px;
        &:hover {
          background-color: $colorSixLightGray;
        }
      }
      button {
        width: 64px;
        height: 60px;
      }
      td {
        padding: 0px;
        border: 1px solid $colorSixLightGray;
        .name {
          font-size: 20px;
        }
        icon {
          color: $colorSixSoftGray;
          span.active {
            color: $colorSixDarkGray;
          }
          span.withSIX-icon-Download.ready {
            color: $colorSixGreen;
          }
        }
        span.connection-quality {
          color: $colorSixGreen;
        }
      }
      td:nth-child(1) {
        $width: 32px;
        span {
          display: inline-block;
          width: $width;
        }
        width: $width;
        text-align: center;
      }
      td:nth-child(2) {
        $width: 32px;
        span {
          display: inline-block;
          width: $width;
        }
        width: $width;
        text-align: center;
      }
      td:nth-child(3) {
        padding: 4px;
      }
      td:nth-child(4) {
        padding: 4px;
        $width: 80px;
        div {
          width: $width;
        }
        width: $width;
        text-align: center;
      }
      td:nth-child(5) {
        $width: 32px;
        span {
          display: inline-block;
          width: $width;
        }
        width: $width;
        text-align: center;
      }
    }
  }
}

